In [ ]:
from os import set_blocking

#CONTROL STATEMENT
#IF
#if...else
#nested if...else
#ladder if....else


#match stm
#ternary operator

#if syntax

if (tc):
  sb
if - tc - t - op
if - tc - f - empty screen

#if...else
if (tc):
  sb
else:
  sb
if - tc - t - op
if - tc - f - else - op

#ladder

if...else - n number of tc process
if tc1:
  sb
elif tc2:
  sb
elif tc3:
  sb
else:
  output

#nested if...else
if tc1:
  if tc2:
    else:
      sb
else:
  if tc3:
    sb
  else:
    sb

In [5]:
mark = int(input("enter the mark : "))
if mark>=35:
  print("pass")

if mark<35:
  print("fail")

enter the mark : 25
fail

In [7]:
mark = int(input("enter the mark : "))
if mark>=35:
  print("pass")
else:
  print("fail")

enter the mark : 78
pass

In [9]:
stu_1=int(input("enter the mark : "))
stu_2=int(input("enter the mark :"))

if stu_1>35 and stu_2<=35:
  print("pass")
else:
  print("fail")

enter the mark : 45
enter the mark :56
fail

In [10]:
stu_1=int(input("enter the mark : "))
stu_2=int(input("enter the mark :"))

if stu_1>35 and stu_2<=35:
  print("pass")
else:
  print("fail")

enter the mark : 45
enter the mark :32
pass

In [12]:
stu_1=int(input("enter the mark : "))
stu_2=int(input("enter the mark :"))

if stu_1>35 or stu_2<=35:
  print("pass")
else:
  print("fail")

enter the mark : 36
enter the mark :45
pass

In [13]:
stu_1=int(input("enter the mark : "))
stu_2=int(input("enter the mark :"))

if stu_1!=35 and stu_2<=35:
  print("pass")
else:
  print("fail")

enter the mark : 35
enter the mark :25
fail

In [14]:
age = int(input("enter the age : "))
if age!=10:
  print("eligible")
else:
  print("not eligible")

enter the age : 18
eligible

In [15]:
num=int(input("enter the number : "))
if num%2==0:
  print("even")
else:
  print("odd")

enter the number : 45
odd

In [17]:
year=int(input("enter the year : "))
if year%4==0:
  print("leap year")
else:
  print("not a leap year")

enter the year : 2024
leap year

In [21]:
a=int(input("enter the number : "))
b=int(input("enter the number : "))
if a<b and a!=b:
  print("b is greater")
else:
  print("a is greater")

enter the number : 3
enter the number : 3
a is greater

In [26]:
letter=input("enter a letter")
if letter=="A" or letter=="F":
  print("vowel")
else:
  print("consonant")

enter a letterA
vowel

In [27]:
letter = input("enter a letter : ")
if letter=="a" or letter=="e" or letter=="i" or letter=="o" or letter=="u":
  print("vowel")
else:
  print("consonant")

enter a letter : e
vowel

In [31]:
num=int(input("enter the number : "))
if num>0:
  print("positive")
elif num<0:
  print("negative")
elif num==0:
  print("zero")

enter the number : -1
negative

In [42]:
a=int(input("enter the number : "))
b=int(input("enter the number : "))
c=int(input("enter the number : "))

if a>b and a>c:
  print("a is biggest number")
elif b>a and b>c:
  print("b is biggest number")
elif c>a and c>b:
  print("c is biggest number")
else:
  print("a,b,c=same value")

enter the number : 20
enter the number : 20
enter the number : 20
a,b,c=same value

In [47]:
a=int(input("enter the value A :"))
b=int(input("enter the value B :"))
c=int(input("enter the value C :"))

if (a>b):
  if(a>c):
    print("a is the greatest")
  else:
    print("c is the greatest")
else:
  if (b>a):
    print("b is the greatest")
  else:
    print("c is the greatest")
if c>a:
  if c>b:
    print("c is the greatest")
  else:
    print("b is the greatest")
else:
  print("error")

enter the value A :10
enter the value B :20
enter the value C :30
b is the greatest
c is the greatest

In [48]:
a= int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))

if a>b:
  if a>c:
    print("a is big")
  else:
    print("c is big")
else:
  if b>c:
    print("b is big")
  else:
    print("c is big")
if c>a:
  print("c is big")
else:
  print("a is big")

enter the value10
enter the value20
enter the value5
b is big
a is big