In [2]:
# Functions - A Functions is a block of code which only runs when its called. we can pass the data, known as parameters, into a functions.
# A fucntions can return data as a result
#syntax
def display():
  print("welcom to credo systemz")
display()

welcom to credo systemz

In [8]:
#without any parameters,without return type
def add():
  a=5
  b=10
  c=a+b
  print(c)
add()

15

In [11]:
#with parameters,without return type
def multiple(a,b,c,d,e):
  multiple=a*b*c*d*e
  avg=multiple/5
  print(multiple)
  print(avg)
multiple(52,65,78,98,91)

2351141520
470228304.0

In [12]:
def add(a,b,c,d,e):
  sum=a+b+c+d+e
  avg=sum/5
  print(sum)
  print(avg)
add(90,80,99,99,99)

467
93.4

In [13]:
# without parameters, with return type

def add():
  a=90
  b=90
  return a+b
print(add())

180

In [14]:
# with parameters, with return type

def add(a,b,c,d,e):
  total=a+b+c+d+e
  return total
print(add(90,80,99,99,99))

467

In [16]:
def add(a,b):
  print(a+b)

def sub(a,b):
  print(a-b)

def mul(a,b):
  print(a*b)


add(10,5)
sub(10,5)
mul(10,5)

15
5
50

In [25]:
# (*) Arbitrary Arguments

def display(*course):
   print(course)
   print(course[0])
   print(course[1])
   print(course[2])
   print(course[3])
display("Python", "Java", "JavaScript", "React JS")

('Python', 'Java', 'JavaScript', 'React JS')
Python
Java
JavaScript
React JS

In [26]:
def display(*Fruits):
   print(Fruits)
   print(Fruits[0])
   print(Fruits[1])
   print(Fruits[2])
   print(Fruits[3])
display("Mango", "Banana", "Apple", "Orange")

('Mango', 'Banana', 'Apple', 'Orange')
Mango
Banana
Apple
Orange

In [29]:
def display(*num):
   print(num)
   print(num[0])
   print(num[1])
   print(num[2])
   print(num[3])
display(1234, 2345, 3456, 4567)

(1234, 2345, 3456, 4567)
1234
2345
3456
4567

In [32]:
# Keyword Arguments - (key=value)

def display(C1,C2,C3,C4,C5):
  print(C1)
  print(C2)
  print(C3)
  print(C4)
  print(C5)
display(C1="FSD", C2="DA", C3="DS", C4="DM", C5="PMP")

FSD
DA
DS
DM
PMP

In [33]:
# (**)  Keyword Arguments - Arbitrary Keyword Arguments

def display(**course):
  print(course)
  print(course["C1"])
  print(course["C2"])
  print(course["C3"])
  print(course["C4"])
  print(course["C5"])
display(C1="FSD", C2="DA", C3="DS", C4="DM", C5="PMP")

{'C1': 'FSD', 'C2': 'DA', 'C3': 'DS', 'C4': 'DM', 'C5': 'PMP'}
FSD
DA
DS
DM
PMP

In [36]:
def display(**course):
  print(course)
  print(course["C1"])
  print(course["C2"])
  print(course["C3"])
  print(course["C4"])
  print(course["C5"])
display(C1="AI", C2="DA", C3="DS", C4="UI", C5="UX")

{'C1': 'AI', 'C2': 'DA', 'C3': 'DS', 'C4': 'UI', 'C5': 'UX'}
AI
DA
DS
UI
UX

In [38]:
# Default Parameter Value

def display(User="-"):
  print("Welcome to the Game : ",User)
display("Sridhar")
display("Sasi")
display("Abi")
display()
display("Priya")
display()

Welcome to the Game :  Sridhar
Welcome to the Game :  Sasi
Welcome to the Game :  Abi
Welcome to the Game :  -
Welcome to the Game :  Priya
Welcome to the Game :  -

In [39]:
def display(User="Guest"):
  print("Welcome to the Game : "+User)
display("Sridhar")
display("Sasi")
display("Abi")
display()
display("Priya")
display()

Welcome to the Game : Sridhar
Welcome to the Game : Sasi
Welcome to the Game : Abi
Welcome to the Game : Guest
Welcome to the Game : Priya
Welcome to the Game : Guest

In [42]:
def factorial(n):
  if n==1:
    return 5
  else:
    return n*factorial(n-1)
print(factorial(5))

600

In [43]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [46]:
def factorial(n):
  if n==1:
    return 0
  else:
    return n*factorial(n-1)
print(factorial(5))

0

In [45]:
# Sum of Natural Numbers using Recursion

def sum(n):
  if n==0:
    return 0
  else:
    return n+sum(n-1)
print(sum(5))

15

In [47]:
def sum(n):
  if n==0:
    return 1
  else:
    return n+sum(n-1)
print(sum(5))

16