In [4]:
a=10
b=9se

print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a//b)
print(a**b)
print(a==b)

19
1
90
1
1.1111111111111112
1
1000000000
False

In [7]:
T=int(input("enter your mark :"))
E=int(input("enter your mark :"))
M=int(input("enter your mark :"))
S=int(input("enter your mark :"))
SS=int(input("enter your mark :"))
SUM=T+E+M+S+SS
print(SUM)
print(SUM/5)

enter your mark :69
enter your mark :80
enter your mark :72
enter your mark :74
enter your mark :33
328
65.6

In [8]:
#Age calc
cy=int(input("enter the current year : "))
dob=int(input("enter the dob year : "))
answer =cy-dob
print(answer)

enter the current year : 2025
enter the dob year : 2003
22

In [ ]:
#celcius to fahrenheit
c=int(input("enter the celcius : "))
f=(c*9/5)+32
print(f)

In [9]:
yearly_salary=65000
monthly_salary=yearly_salary/12
weekly_salary=yearly_salary/52
perday_salary=weekly_salary/7
perhour_salary=perday_salary/8

print("yearly salary : ", yearly_salary)
print("monthly salary : ", round(monthly_salary,2))
print("weekly salary : ", round(weekly_salary/2))
print("daily salary : ", round(perday_salary/2))
print("hourly salary : ", round(perhour_salary/2))

yearly salary :  65000
monthly salary :  5416.67
weekly salary :  625
daily salary :  89
hourly salary :  11

In [23]:
a=2
b=10

print("before swapping")
print("a -",a)
print("b -",b)

a+=b #A=A+B
print("after swapping")
print("a -",a)
print("b -",b)

before swapping
a - 2
b - 10
after swapping
a - 12
b - 10

In [27]:
a=5
b=10

print("before swapping")
print("a -",a)
print("b -",b)

#a+=b
#b+=a
a-=b
print("after swapping")
print("a -",a)
print("b -",b)

before swapping
a - 5
b - 10
after swapping
a - -5
b - 10

In [38]:
#relational operator
a=5
b=10
print(a==b)
print(a+-b)
print(a!=b)
print(a<=b)
print(a>=b)

False
-5
True
True
False

In [39]:
#swapping without 3rd var
a=5
b=10

a=a+b #a=5+10=15
b=a-b #b=15-10=5
a=a-b #a=15-5=10
print(a)
print(b)

10
5

In [41]:
a=5
b=10

a=a-b #a=5-10 =-5
b=a+b #b=-5+10=5
a=a+b #a=-5+5=0
print(a)
print(b)

0
5

In [ ]:
#with 3rd var
a=5
b=10

c=a #c=5
a=b #a=10
b=c #b=5
print(a)
print(b)

In [45]:
#logical operator - and , or , not
#and - entire condition should be true
#or - either are one should be true
#not - input true output false (opp)


a=5
b=10

check = a<=b and a<b
print(check)

True

In [50]:
username = "sathiya"
password = "sathiyas"
username = input("enter the username : ")
password = input("enter the password : ")
check=username=="sathiya" or password=="sathiyas"
print(check)

enter the username : sathiya
enter the password : sathiya
True

In [49]:
a=5
b=10

check=a>b or a<b
print(check)

True

In [54]:
a=5
b=10

check=not(a!=b)
print(check)

False

In [55]:
data=(1,3,5,7,9)
print(6 in data)
print(1 in data)

False
True

In [56]:
data=("a","b","c")
print("d" in data)
print("a" in data)

False
True

In [57]:
data=("a","b","c")
print("d" not in data)
print("a" in data)

True
True

In [60]:
#identify operators - is,not is

a=("python"),("java")
b=("python"),("java")
c=a
print(a is c)
print(a is not b)
print(a is b)
print(a==b)

True
True
False
True