In [ ]:
import sys
print(sys.version)

3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]

In [ ]:
print("Welcome To ESEC")

Welcome To ESEC

In [ ]:
# variable - asign a value or store the value
NAME ="SATHIYA"
print("i am",NAME)
print("i am " + NAME)

i am SATHIYA
i am SATHIYA

In [ ]:
fullname = "siva prakasan"
print(fullname)

siva prakasan

In [ ]:
fullName = "thamarai kannan"
print(fullName)

thamarai kannan

In [ ]:
FullName = "Helan hencida"
print(FullName)

Helan hencida

In [ ]:
full_name = "siva prakasan"
print(full_name)

siva prakasan

In [ ]:
a=b=c="Data analytics"
print(a)
print(b)
print(c)

Data analytics
Data analytics
Data analytics

In [ ]:
a,b,c="AI" , "ML" , "DS"
print(a)
print(b)
print(c)

AI
ML
DS

In [ ]:
#STRING
check="sathiya"
print(check)
print(type(check))

sathiya
<class 'str'>

In [ ]:
#numarical data type
check=89
print(check)
print(type(check))

89
<class 'int'>

In [ ]:
#float
check=1658.9082
print(check)
print(type(check))

1658.9082
<class 'float'>

In [ ]:
#complex
check=2+8j+8
print(check)
print(type(check))

(10+8j)
<class 'complex'>

In [ ]:
#list[]
check=["tamil","english","maths"]
print(check)
print(type(check))

['tamil', 'english', 'maths']
<class 'list'>

In [ ]:
#tuple()
check=("tamil","english","maths")
print(check)
print(type(check))

('tamil', 'english', 'maths')
<class 'tuple'>

In [ ]:
#set{}
check={"tamil","english","maths","science"}
print(check)
print(type(check))

{'english', 'science', 'tamil', 'maths'}
<class 'set'>

In [ ]:
#dict{}
check={"name":"kavin","age":20,"location":"salem"}
print(check)
print(type(check))

{'name': 'kavin', 'age': 20, 'location': 'salem'}
<class 'dict'>

In [ ]:
#range
check=range(147)
print(check)
print(type(check))

range(0, 147)
<class 'range'>

In [ ]:
#boolean (true or false)
check=True
print(check)
print(type(check))

True
<class 'bool'>

In [ ]:
#Variable Declaration

# Variables in Python (no need to declare type)
name = "Sathiya"   # string
age = 22          # integer
height = 5.3      # float
is_student = True  # boolean

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Student:", is_student)

Name: Sathiya
Age: 22
Height: 5.3
Student: True

In [ ]:
a=int(input("Enter the A Value : "))
b=int(input("Enter the B Value : "))
c=a+b
print(c)

Enter the A Value : 80
Enter the B Value : 60
140

In [ ]:
# Add 4 Number, Sum, Avg

T=int(input("Enter the Mark "))
E=int(input("Enter the Mark "))
S=int(input("Enter the Mark "))
SS=int(input("Enter the Mark "))

SUM=T+E+S+SS
print("SUM - ", SUM)

AVG=SUM/4
print("AVG - ", AVG)

Enter the Mark 98
Enter the Mark 60
Enter the Mark 58
Enter the Mark 99
SUM -  315
AVG -  78.75

In [ ]:
# Arithmetic opr

a=89
b=8

print(a//b)
print(a**b)
print(a+b)

11
3936588805702081
97

In [ ]:
# Ass.Opr

a=12
b=2
# c=a+b
# print(c)
print(a*b)
print(a**b)
print(a//b)

24
144
6

In [ ]:
# Age Calc

CY=int(input("Enter the Current Year : "))
DOB=int(input("Enter the DOB Year : "))

Answer=CY-DOB
print(Answer)

Enter the Current Year : 2025
Enter the DOB Year : 2003
22

In [ ]:
# Celsius to Fahrenheit

A=int(input("Enter the Value : "))
B=(A*6.5/5)+87
print(B)

Enter the Value : 56
159.8

In [ ]:
# Rel.Opr

a=4
b=7

print(a<=b)
print(a!=b)

True
True

In [ ]:
# Swap 2 Number - Without

a=50
b=10

print("Before Value ")
print("A - ", a)
print("B - ", b)

a=a+b
b=a-b
a=a-b

print("After Value ")
print("A - ", a)
print("B - ", b)

Before Value
A -  50
B -  10
After Value
A -  10
B -  50

In [ ]:
yearly_salary=65000
monthly_salary=yearly_salary/12
weekly_salary=yearly_salary/52
perday_salary=weekly_salary/7
perhour_salary=perday_salary/8

print("yearly salary : ", yearly_salary)
print("monthly salary : ", round(monthly_salary,2))
print("weekly salary : ", round(weekly_salary/2))
print("daily salary : ", round(perday_salary/2))
print("hourly salary : ", round(perhour_salary/2))

yearly salary :  65000
monthly salary :  5416.67
weekly salary :  625
daily salary :  89
hourly salary :  11

In [ ]:
#logical operators - and,or,not
a=25
b=50

check= a>=b and a==b
print(check)

False

In [ ]:
a=25
b=50

check= a<=b and a!=b
print(check)

True

In [ ]:
un = "sathiyas"
pw = "Sathiya@123"

username=input("Enter the name : ")
password = input("Enter the password : ")

check= (username==un) and password == (pw)
print(check)

Enter the name : sathiyas
Enter the password : Sathiya@123
True

In [ ]:
#or

a=2
b=3

check= a<=b or a<b
print(check)

True

In [ ]:
#not
a=4
b=6

check = not(a<=b)
print(check)

False

In [ ]:
#in
data=["Python", "DA", "DV", "BI"]

print("BI" in data)
print("PyGame" in data)

True
False

In [ ]:
print("UI" not in data)
print("DA" not in data)

True
False

In [ ]:
# Identity Operators - is, is not

a=["UI", "UX"]
b=["UI", "UX"]

c=a

print(a is c)

print(a is b)

print(a==b)

True
False
True

In [ ]:
a=["UI", "UX"]
b=["UI", "UX"]

c=a

print(a is not c)
print(a is not b)
print(a!=b)

False
True
False

In [ ]:
#control system #if,if else,nested if else,ladder if else
#if

mark=int(input("enter the value :"))

if mark<=50:
  print("pass")

if mark>50:
  print("fail")

enter the value :43
pass

In [ ]:
#if else

age = int(input("enter the age :"))

if age>=18:
  print("eligible for vote")

else:
  print("not eligible for vote")

enter the age :17
not eligible for vote

In [ ]:
#if else
movie=input("paid/not paid :")

if movie=="paid":
  print("confrimed")

else:
  print("not confrimed")

paid/not paid :paid
confrimed

In [ ]:
#ladder if else

marks = int(input("enter your marks :"))

if marks>=80:
  print("GREAT")
elif marks>=55:
  print("GOOD")
elif marks>=45:
  print("AVERAGE")
else:
  print("FAIL")

enter your marks :58
GOOD

In [ ]:
a=int(input("enter the mark of a:"))
b=int(input("enter the mark of b :"))
c=int(input("enter the mark of c :"))

if a>b and a>c:
  print("a is distinction")
elif b>a and b>c:
  print("b is first class")
else:
  print("c is second class")

enter the mark of a:80
enter the mark of b :99
enter the mark of c :50
c is second class

In [ ]:
#nested if else

num = int(input("Enter a number: "))
if num > 0:
    if num % 2 == 0:
        print("positive and even number")
    else:
        print("positive but odd number")
else:
    print("not a positive number")

Enter a number: 6
positive and even number

In [ ]:
#match statement

#match case
day=int(input("enter the day :"))

match day:
  case 1:
    print("sunday")
  case 2:
    print("monday")
  case 3:
    print("tuesday")
  case 4:
    print("wednesday")
  case 5:
    print("thursday")
  case 6:
    print("friday")
  case 7:
    print("saturday")
  case _:
    print("invalid value")

enter the day :4
wednesday

In [ ]:
day=int(input("enter the day :"))

match day:
  case 1:
    print("sunday")
  case 2:
    print("monday")
  case 3:
    print("tuesday")
  case 4:
    print("wednesday")
  case 5:
    print("thursday")
  case 6:
    print("friday")
  case 7:
    print("saturday")
  case _:
    print("invalid value")

enter the day :12
invalid value

In [ ]:
status = int(input("enter the stage of your program :"))
match status:
  case 1:
    print("your program is starting")
  case 2:
    print("your program is running")
  case 3:
    print("your program is stopped")
  case _:
    print(" error occured")

enter the stage of your program :3
your program is stopped

In [ ]:
#looping statement

i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
j=1
while j<=15:
  print(j)
  j=j+2

1
3
5
7
9
11
13
15

In [ ]:

for i in "Sathiya":
  print(i)

S
a
t
h
i
y
a

In [ ]:
i=1
while i<=10:
  print(i ,"*2=",i*2)
  i=i+1

1 *2= 2
2 *2= 4
3 *2= 6
4 *2= 8
5 *2= 10
6 *2= 12
7 *2= 14
8 *2= 16
9 *2= 18
10 *2= 20

In [ ]:
for i in range(1,11):
  print(i ,"*2=",i*2)

1 *2= 2
2 *2= 4
3 *2= 6
4 *2= 8
5 *2= 10
6 *2= 12
7 *2= 14
8 *2= 16
9 *2= 18
10 *2= 20

In [ ]:
for i in range(11):
  if i%2==0:
    print(i, " - Even Number")
  else:
    print(i, " - Odd Number")

0  - Even Number
1  - Odd Number
2  - Even Number
3  - Odd Number
4  - Even Number
5  - Odd Number
6  - Even Number
7  - Odd Number
8  - Even Number
9  - Odd Number
10  - Even Number

In [ ]:
#pattern

for i in range(1,6):
  for j in range(1,8):
    print("x","y" , end=" ")
  print()

x y x y x y x y x y x y x y
x y x y x y x y x y x y x y
x y x y x y x y x y x y x y
x y x y x y x y x y x y x y
x y x y x y x y x y x y x y

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [1]:
#patterns

for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [2]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [8]:
for i in range (5,0, -1):
  for j in range(i):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [10]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [12]:
for i in range (5,0, -1):
  for j in range(i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [13]:
k=65
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(k),end=" ")
    k=k+1
  print()

A
B C
D E F
G H I J
K L M N O

In [14]:
k=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(k),end=" ")
    k=k+1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [15]:
for i in range(97,102):
  for j in range(97,102):
    print(chr(i), end=" ")
  print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [16]:
for i in range(101,96,-1):
  for j in range(101,96,-1):
    print(chr(i), end=" ")
  print()

e e e e e
d d d d d
c c c c c
b b b b b
a a a a a

In [24]:
for i in range(96,102):
  for j in range(96,102):
    print(chr(i), end="  ")
  print()

`  `  `  `  `  `
a  a  a  a  a  a
b  b  b  b  b  b
c  c  c  c  c  c
d  d  d  d  d  d
e  e  e  e  e  e