In [3]:
#sets- sets are used to store the multiple values in a single variable and set is a collections which is unordered , unindexed and unchangeable, no duplicates

In [4]:
ans={"Python","DA","DV"}
print(ans)

{'DA', 'DV', 'Python'}

In [5]:
ans={"Python","DA","DV","Excel","BI"}
print(ans)
print(type(ans))

{'BI', 'Python', 'DA', 'DV', 'Excel'}
<class 'set'>

In [6]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
print(ans)

{'BI', 'Python', 'DS', 'DA', 'DV', 'Excel'}

In [7]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
print(len(ans))

6

In [8]:
course={"python",25000,"true","DA",40000,"true"}
print(course)

{40000, 25000, 'DA', 'python', 'true'}

In [9]:
# set() Constructor

answer=set(("Python", "AI", "DS", "DV", "DA"))
print(answer)
print(type(answer))
print(len(answer))

{'Python', 'DA', 'AI', 'DS', 'DV'}
<class 'set'>
5

In [10]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
for b in ans:
    print(b)

BI
Python
DS
DA
DV
Excel

In [11]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
print("Python" in ans)
print("AI" not in ans)

True
True

In [12]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
ans.add("AI")
ans.add("UI")
print(ans)

{'BI', 'UI', 'Python', 'DS', 'DA', 'DV', 'Excel', 'AI'}

In [13]:
ans={"Python","DA","DS","DV","Excel","BI","DS"}
ans.update(["AI","UI","ML"])
print(ans)

{'UI', 'DS', 'Excel', 'BI', 'Python', 'DA', 'AI', 'DV', 'ML'}

In [14]:
A1={"Python","DA","DS","DV","Excel","BI","DS"}
A2={"AI","UI","ML"}
A1.update(A2)
print(A1)

{'BI', 'UI', 'Python', 'DA', 'AI', 'DS', 'DV', 'Excel', 'ML'}

In [15]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A2={"AI","UI","ML"}
A1.update(A2)
print(A1)

{'BI', 'UI', 'Python', 'DA', 'AI', 'DS', 'DV', 'Excel', 'ML'}

In [16]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A1.remove("AI")
print(A1)

{'BI', 'UI', 'Python', 'DA', 'DS', 'DV', 'Excel', 'ML'}

In [17]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A1.remove("AI")
A1.remove("UI")
print(A1)

{'BI', 'Python', 'DA', 'DS', 'DV', 'Excel', 'ML'}

In [18]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A1.discard("AI")
print(A1)

{'BI', 'UI', 'Python', 'DA', 'DS', 'DV', 'Excel', 'ML'}

In [19]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A1.pop()
A1.pop()
print(A1)

{'Python', 'DA', 'AI', 'DS', 'DV', 'Excel', 'ML'}

In [20]:
A1={"Python","DA","DS","DV","Excel","AI","UI","ML","BI","DS"}
A1.clear()
print(A1)

set()

In [21]:
# Join Set - union() and update(), intersection(), difference(), symmetric_difference()

A1={"Python", "SQL", "Excel", "BI","DV","DA"}
A2={7000, 10000, 6000, 30000}

answer=A1.union(A2)
print(answer)

{'BI', 'Python', 'DA', 'SQL', 10000, 30000, 6000, 7000, 'DV', 'Excel'}

In [22]:
A1={"Python", "SQL", "Excel", "BI","DV","DA"}
A2={7000, 10000, 6000, 30000}

A1.update(A2)
print(A1)

{'BI', 'Python', 'DA', 'SQL', 10000, 30000, 6000, 7000, 'DV', 'Excel'}

In [23]:
A1={"Python", "SQL", "Excel", "Pwer BI"}
A2={7000, 10000, 6000, 30000}

answer=S1|S2
print(answer)

{0, 1, 'cherry', 'microsoft', 'apple', 'banana', 'google'}

In [24]:
S1={"Python", "SQL", "Excel", "Pwer BI"}
S2={7000, 10000, 6000, 30000}
S3={"Python using AI", "Java", "React JS", "Redux"}
S4={"IT Company", "MNC Company"}

answer=S1 | S2 | S3 | S4
print(answer)

{'Pwer BI', 'Redux', 'Python', 'React JS', 'SQL', 'MNC Company', 10000, 30000, 6000, 'Python using AI', 7000, 'IT Company', 'Excel', 'Java'}

In [28]:
S1={"apple", "banana", "cherry",1,0,True, False}
S2={"google", "microsoft", "apple",1,0,True, False}

answer=S1.symmetric_difference(S2)
print(answer)

{'cherry', 'banana', 'google', 'microsoft'}

In [29]:
S1={"apple", "banana", "cherry",1,0,True, False}
S2={"google", "microsoft", "apple",1,0,True, False}

# answer=S1.symmetric_difference(S2)
# print(answer)

In [25]:
S1={"apple", "banana", "cherry",1,0,True, False}
S2={"google", "microsoft", "apple",1,0,True, False}

answer=S1-S2
print(answer)

{'cherry', 'banana'}

In [26]:
S1={"apple", "banana", "cherry",1,0,True, False}
S2={"google", "microsoft", "apple",1,0,True, False}

answer=S1.difference(S2)
print(answer)

{'cherry', 'banana'}

In [30]:
S1={"apple", "banana", "cherry",1,0,True, False}
S2={"google", "microsoft", "apple",1,0,True, False}

answer=S1.symmetric_difference(S2)
print(answer)

{'cherry', 'banana', 'google', 'microsoft'}

In [31]:
S1={"apple", "banana", "cherry",1,0,True, False}

answer=S1.copy()
print(answer)

{0, 1, 'cherry', 'banana', 'apple'}

In [34]:
person={
    "Name":"sathiya",
    "Age":22,
    "Year":2003,
    "location":"salem"
}
print(person)
print(type(person))
print(len(person))

{'Name': 'sathiya', 'Age': 22, 'Year': 2003, 'location': 'salem'}
<class 'dict'>
4

In [35]:
a=10
a=5
print(a)

5